@mixin font-event-index-item-price {
  font-weight: 100;
  color: #near-black;
  font-family: $title-font-stack;
  font-size: 12px;
  letter-spacing: 1.3px;
}

@mixin font-event-index-intro {
  font-family: $skinny-font-stack;
  font-size: calc(18px + .5vw);
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 1.4px;
  padding: 10px 15px;
  display: flex;
}

@mixin font-nav-link() {
  color: $darker-grey;
  font-family: $skinny-font-stack;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  transition: color .4s ease-out
}

@mixin font-nav-link-emphasis() {
  font-family: $title-font-stack;
  font-size: 12px;
  font-weight: 500;
  color: $link-color;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  transition: color .4s ease-out;
  text-overflow: clip;
}

@mixin font-header-search-box() {
  text-align: center;
  margin: 40px;
  font-family: $skinny-font-stack;
  font-size: calc(23px + 1.5vw);
  font-weight: 100;
  letter-spacing: 0.8px;
  line-height: 60px;
  text-rendering: optimizeLegibility;
  display: block;
  color: $eventbrite;
  background: $pornj-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin font-nav-logo() {
  text-transform: capitalize;
  font-family: $decorator-font-stack;
  font-size: 26px;
  height: 26px;
  color: $eventbrite;
  font-weight: 400;
  background: $pornj-gradient;
  border-right: 1px solid #EFF2F5;
  padding: 20px 20px 15px 20px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


@mixin font-label() {
  text-transform: uppercase;
  font-family: $title-font-stack;
  -webkit-font-smoothing: antialiased;
  color: $near-black;
  font-size: 13px;
  font-weight: 700;
}

$body-font-stack:  Open-Sans, Raleway, Helvetica-Neue, Helvetica, Roboto, Arial, sans-serif;
$title-font-stack:  Roboto, Raleway, Open-Sans, Helvetica, Arial, sans-serif;
$skinny-font-stack: Raleway, Open-Sans, Helvetica-Neue, Helvetica, Arial, sans-serif;
$decorator-font-stack:  Ewert, Raleway, Open-Sans,  Helvetica, Roboto, Arial, sans-serif;

$pornj-gradient: radial-gradient(farthest-corner at 80% 100%,#fd348b 0,#f86044 100%);
$pornj-gradient-reversed: radial-gradient(farthest-corner at 80% 100%, #f86044 0,#fd348b 100%);

$eventbrite: #f6682f;
$link-color: #0278b8;
$link-hover: #013653;
$lightest-grey: #EFF2F5;
$lighter-grey: #d2d6df;
$middle-grey: #666A73;
$darker-grey: #45494E;
$near-black: #282C35;
$off-white: #F8F8FA;
$mint-green: #39c2c9;
