@import 'fonts';
@import 'colors';

.browse {
  &-container {
    display: flex;
    flex-direction: row;
    max-width: 1080px;
  }
  &-filter{
    &-container{
      margin: 20px;
      padding: 20px;
      width: 240px  ;
      background: white;
      & li {
        padding: 10px;
        font-family: $skinny;
        font-size: 16px;
        color: $link-color;
        transition: color 0.5s;
        &:hover {
          color: $link-hover;
        }
        & h1{
          color: $near-black;
          &:hover{
            color: $near-black;
          }
        }
      }
    }
  }
  &-event{
    &-list {

    }
  }
  &-item {
    &-container {
      background: white;
      width: 840xp;
      margin: 20px;
      box-sizing: border-box;
      transition: box-shadow 0.5s;
      &:hover {
        box-shadow: 0 1px 2px 0 rgba(0,0,0,.35);
      }
    }
    &-bookmark {
      transform: scale(.85);
      -webkit-text-stroke: 1px white;
      padding: 0;
      display: flex;
      justify-content: flex-end;
      padding: 0 5px 2px 5px;
      border-left: 1px solid $lightest-grey;
    }
    &-toprow {
      display: flex;
      flex-direction: row;
    }
    &-image {
      width: 240px;
      box-sizing: border-box;
      object-fit: cover;
      overflow: hidden;
      background: $pornj-gradient;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
    &-bottomrow{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      border-top: 1px solid $lightest-grey;
    }
    &-info {
      margin: 10px;
      padding: 0 10px;
      height: 80px;
      box-sizing: border-box;
    }
    &-price {
      width: 240px;
      box-sizing: border-box;
      display: flex;
      padding: 8px 10px;
      font-family: $skinny;
      align-items: baseline;
      justify-content: flex-start;
      background: $lightest-grey;
    }
    &-grouping {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-end;
    }
    &-categories {
      font-size: 12px;
      padding: 0 0 10px 20px;
    }
    &-category {
      padding-right: 10px;
    }
  }
}
