@import 'fonts';
@import 'colors';

.category{
  &-container {
    width: 96%;
  }
  &-header {
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-family: $title-font-stack;
    font-size: 30px;
    font-weight: 100;
    padding: 20px;
  }
  &-index {
    &-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
      margin-bottom: 40px;
      & > div:first-child {
        flex: 2 2 480px;
      }
    }
    &-item {
      flex: 1 1 240px;
      margin: 15px;
      height: 240px;
      color: white;
      border-radius: 5px;
      font-family: $title-font-stack;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      &-description {
        font-family: $skinny;
        font-weight: 700;
        letter-spacing: 1px;
        font-size: 14px;
        opacity: 0;
        margin-top: 0px;
      }
      &-name {
        font-family: $body-font-stack;
        font-weight: 400;
        font-size: 34px;
        opacity: 1;
        margin-top: 50px
      }
      &:hover span {
        opacity: 1;
        margin-top: -20px;
      }
      & span {
        text-align: center;
        text-shadow: 2px 2px 6px rgba(50, 50, 50, 0.76);
        padding: 0 50px;
        color: white; /* Good thing we set a fallback color! */
        transition: 0.5s ease-in-out;
      }
      &-background {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        object-fit: cover;
        background-color: $eventbrite;
        border-radius: 5px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        transition: all 0.5s ease-in-out;
        padding: 20%;
        &:hover {
            cursor: pointer;
            transform: scale(1.2);
          }
      }
    }
  }
}
