// Place all the styles related to the api/events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-flex-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 0px;
}

.home-hero-image {
  display: block;
  float: center;
  margin-top: 60px;
  width: 100%;
  height: 30vw;
  transition: height .03s;
  max-height: 350px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding: 40px;
  background-image: url("https://s3.amazonaws.com/sideshow-development/concert.jpg");
  background-size: cover;
  z-index: 10;
}

.home-content {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -140px;
  margin: 15px;
}

.welcome-box {
  background-image: linear-gradient(rgba(255, 255, 255, 0.87) 0%, white 25%);
  padding: 20px;
  max-width: 1050px;
  position: relative;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.25);
  height: 150px;
  border-radius: 4px;
  z-index: 20;
}

@media only screen and (max-width :550px ) {
  .welcome-box {
    opacity: 0;
    margin-top: -60px;
  }
}

.welcome-text {
  color: #F86820;
  text-align: center;
  margin: 20px;
  font-family: "Benton Sans",-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
  font-size: calc(26px + 3vw);
  font-weight: 200;
  line-height: 60px;
  text-rendering: optimizeLegibility;
  display: block;
  background: -webkit-linear-gradient(#F86820, #fd348b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ui-text-box {
  font-size: 20px;
  line-height: 25px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  margin: 20px 0 0 0;
}

.ui-text {
  font-family: "Benton Sans",-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 25px;
  line-height: 30px;
  font-weight: 200;
}

.event-index-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
}

.event-index-item {
  position: relative;
  &-header {
    height: 8mv;
    width: 16mv;
    object-fit: cover;
    transition: background-color .5s;
    overflow: hidden;
    text-align: center;
    width: 100%;
    height: 100%;
  }
  &-body {
    border: 2px solid red;
  }
  &-footer {
    border: 2px solid green;
  }

}
