// Place all the styles related to the api/events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home {
  font-family: Benton Sans,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
}

.hero-carousel {
  display: flex;
  align-items: center;
  width: 100%;
  height: 36vw;
  transition: height .5s ease-in;
  max-height: 500px;
  margin-bottom: 90px;
  position: relative;
  background: url('https://cdn.glitch.com/a5121e34-96b3-4a70-8227-040c51e64fae%2Fbg.jpg?1509627430438') center #333 no-repeat;
  background-size: cover;
  z-index: -10;
}

.ui-text-subhead {
  font-size: 20px;
  line-height: 25px;
}

.welcome-box {
  background-image: linear-gradient(rgba(255, 255, 255, 0.87) 0%, white 25%);
  margin: 0px auto;
  position: relative;
  top: 140px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.25);
  border-radius: 4px;
  width: 70%;

}

.homepage-header {
  color: #F86820;
  font-size: 45px;
  font-weight: 200;
  line-height: 60px;
  text-rendering: optimizeLegibility;
  margin: 20px 20px 50px 20px;
  display: block;
  white-space: nowrap;
  padding: 40px;
}

.event-index {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
}

.event-index-item {
  border: 4px solid black;
}

article {
  position: relative;
}

.event-index-image {
  height: 250px;
  width: 100%;
  object-fit: cover;
}
