// Place all the styles related to the api/events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'fonts';

.home{
  &-container {
    margin: 60px 0;
    width: 100%;
  }
  &-hero-image {
    display: block;
    height: 33vw;
    transition: height .05s;
    max-height: 350px;
    background-image: url("https://s3.amazonaws.com/sideshow-development/concert.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 10;
  }
  &-content {
    width: 100%;
    max-width: 1079px;
    box-sizing: border-box;
    margin: -140px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.event {
  &-form {
    &container {
      width: 100%;
      max-width: 900px;
      margin-top: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  &-icon {
    &-box {
      width: 50px;
      font-size: 35px;
      line-height: 45px;
      padding-bottom: 5px
    }
  }
  &-show {
    &-background {
      position: absolute;
      top: 60px;
      width: 100%;
      height: 540px;
      z-index: -200;
      background-size: cover;
      background-position: top center;
      filter: blur(10px) brightness(0.9) saturate(2);
      transform: scale(2);
      &-boundary {
        width: 100%;
        height: calc(100% - 600px);
        background: $off-white;
        position: absolute;
        top: 600px;
        z-index: -1;

      }
    }
    &-container {
      transition: all .5s ease-in;
      margin: 60px auto 20px auto;
      width: 100%;
      max-width: 1080px;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
      z-index: 10;
      border-radius: 5px;
    }
    @media only screen and (min-width: 1080px) {
      &-container {
        margin: 100px auto;
      }
    }
    &-hero {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      width: 100%;
      height: 33vw;
      max-height: 360px;
      &-image {
        width: 66.66%;
        z-index: 20;
        border-radius: 5px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        overflow: hidden;
      }
      &-info-container {
        width: 33.33%;
        background-color: rgba(255, 255, 255, 0.9);
        border: 1px green;
        padding: 25px 30px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
      }
      &-date-lg {
        font-family: $skinny-font-stack;
        text-transform: uppercase;
        font-size: 23px;
        font-weight: 100;
      }
      &-date-sm {
        font-family: $skinny-font-stack;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
      }
      &-title {
        font-family: $title-font-stack;
        color: $near-black;
        font-size: 24px;
        font-weight: 500;

      }
      &-price {
        font-family: $title-font-stack;
        font-size: 14px;
        font-weight: 100;
        letter-spacing: 1.3px;
      }
    }
    &-CTA {
      &-container {
        width: 100%;
        height: calc(70px-15vw);
        background: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        box-sizing: border-box;
        border: 1px solid rgb(210, 214, 223);
      }
      &-button {
        width: 330px;
        height: 44px;
        text-align: center;
        border-radius: 3px;
        border-radius: 1px solid white;
        background: $peppy-blue;
        color: white;
        font-size: 14px;
        margin-right: 15px;
      }
      &-bookmark {
        transform: scale(.75);
        -webkit-text-stroke: 1px white;
        padding: 0 30px 0 20px;
        &-container {
          height: 100%;
        }
      }
    }
    &-body {
      &-container {
        padding: 40px 10%;
        background: white;
        display: flex;
        flex-direction: row;
      }
      &-description {
        width: 66.66%;
        padding: 0 15% 0 10px;
        font-family: $body-font-stack;
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 1.2px;
        color: $middle-grey;

      }
      &-aside {
        width: 33.3%;
        min-width: 150px;
        padding: 0 10px;
        box-sizing: border-box;
        padding: 0 15px 0 10px;
        font-family: $skinny-font-stack;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 1.2px;
        color: $middle-grey;
    }
    }
  }

  &-index {
    &-search-box {
      width: 90%;
      background-image: linear-gradient(rgba(255, 255, 255, 0.87) 0%, white 25%);
      height: calc(180px);
      box-shadow: 0 1px 3px 0 rgba(0,0,0,.25);
      border-radius: 6px;
      z-index: 20;
      @media only screen and (max-width :556px ) {
        opacity: 0;
        margin-top: -60px;
      }
    }
    &-grid {
      width: 96%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    }
    &-intro {
      padding: 20px;
      margin: 20px;
      @include font-event-index-intro;
      @media only screen and (max-width :556px ) {
          opacity: 0;
          margin-top: -60px;
    }
  }
    &-item {
      position: relative;
      box-sizing: border-box;
      display: block;
      padding: 15px;
      &-header {
        width: 100%;
        padding-top: 50%;
        object-fit: cover;
        overflow: hidden;
        text-align: center;
        background: $pornj-gradient;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer;
      }
      &-price {
        position: absolute;
        top: 25px;
        right: 25px;
        background: white;
        opacity: 0.92;
        padding: 3px 10px 5px 10px;
        @include font-event-index-item-price
      }
      &-body {
        height: 96px;
        background-color: white;
        padding: 0px 15px;
        box-sizing: border-box;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: space-between;
      }
      &-date {
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
        font-weight: 100;
        color: $darker-grey;
        font-family: $title-font-stack;
        font-size: 12px;
        line-height: 18px;
        height: 18px;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        margin-top: 10px;
      }
      &-title {
        margin: 0 auto;
        -webkit-line-clamp: 2;
        font-family: $title-font-stack;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $near-black;
        font-size: 16px;
        max-height: 38px;
        font-weight: 500;
        height: 38px;
        margin-top: 3px;
      }
      &-venue {
        font-weight: 400;
        text-overflow: ellipsis;
        overflow: hidden;
        font-family: $skinny-font-stack;
        color: $middle-grey;
        font-size: 12px;
        line-height: 18px;
        height: 18px;
        margin-top: 3px;
      }
      &-footer {
        background-color: white;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 42px;
        border-top: 1px solid rgb(239, 242, 245);
      }
      &-categories {
        font-size: 12px;
        padding: 0 0 0 20px;
      }
      &-bookmark {
        padding: 12px 10px 12px 20px;
        transform: scale(.75);
        border-left: 1px solid rgb(239, 242, 245);
        -webkit-text-stroke: 1px white;
      }
    }
  }
}

.label-primary{
  @include font-label;
}
.font{
  &-header {
    &-search-box {
      @include font-header-search-box
    }
  }
  &-event-index {
    &-intro{
      @include font-event-index-intro
    }
  }
}


.ui-text {
  font-family: "Benton Sans",-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 25px;
  line-height: 30px;
  font-weight: 200;
}
