// Place all the styles related to the api/events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'fonts';
@import 'colors';
@import 'forms';

.bluefill {
  color: $peppy-blue;
}

.home{
  &-container {
    margin:  0;
    width: 100%;
  }
  &-hero-image {
    display: block;
    height: 33vw;
    transition: height .05s;
    max-height: 350px;
    background-image: url("https://s3.amazonaws.com/sideshow-development/concert.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 10;
    position: relative;
  }
  &-content {
    width: 100%;
    max-width: 1079px;
    box-sizing: border-box;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.event {
  &-form {
    width: 100%;
    max-width: 900px;
    padding: 10px;
    &-container {
      width: 100%;
      margin-top: 60px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding: 20px;
    }
    &-section {
      &-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items:flex-end;
        margin: 6px;
        border-bottom: 1px solid $lighter-grey;;
      }
      &-text {
        @include font-event-index-intro();
        padding: 6px 10px;
      }
      &-box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        font-size: 43px;
        font-weight: 100;
        line-height: 45px;
        font-family: $skinny;
        background: $pornj-gradient;
        color: $off-white;
        padding-bottom: 5px;
      }
      &-icon {
      }
    }
    &-label {
      @include font-label;
      padding: 5px 9px;
    }
    &-text {
      &-input {
        @include form-input-base();
        position:relative;
        width:75%;
        margin: 1.4px;
      }
    }
    &-price {
      &-input {
        @include form-input-base();
        width: 150px;
        margin: 1.4px;
        -webkit-appearance: none;

        -moz-appearance:textfield;
      }
    }
    &-rich-text {
      @include form-base-textarea();
      width: 66vw;
      min-width: 550px;
      &-container {

      }
    }
    &-datetime {
      &-input {
        @include form-input-base();
        width: 200px;
        &-row {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          width: 100%;

        }
      }
      &-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
      }


    }
    &-image-upload{
      &-landingpad {
        border: 2px dashed $lighter-grey;
        background: white;
        width: 36vw;
        min-width: 300px;
        height: 190px;
        margin: 7px;
        background-size: cover;
        background-position: center center;
        align-items: center;
        justify-content: center;
      }
      &-container {
        padding: 5px 10px;
        background: white;
        border: 1px solid $lighter-grey;
        display: flex;
      }
      &-button {
        width: 200px;
        height: 36px;
        font-size: 22px;

      }
    }
    &-button {
      &-container {
        background: white;
        width: 100%;
        height: 300px;
        margin-left: -50px;
        margin-bottom: -100px;
        display: flex;
        padding-bottom: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top: 1px solid $lighter-grey;;
        &-flex {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
      }
      &-emphasis {
        @include event-button-base;
        height: 50px;
        padding: 0 20px;
        font-weight: 700;
        letter-spacing: 1.5px;;
        margin: 20px;
        border: 3px solid $pornj-gradient;
        border-radius: 5px;
        background: $pornj-gradient;
        box-sizing: border-box;
      }
      &-plain {
        border-radius: 5px;
        height: 46px;
        width: 200px;
        padding: 0 20px;
        font-weight: 400;
        letter-spacing: 1.5px;
        margin: 20px right;
        border: 3px solid $peppy-blue;
        background: white;
        color: $peppy-blue;
        box-sizing: boorder-box;
      }
      &-caption {
        font-family: $title-font-stack;
        font-size: 23px;
        font-weight: 700;
        color: $near-black;
        letter-spacing: 1.2px;
        padding: 10px;
      }
    }
  }
  &-show {
    &-background {
      position: absolute;
      top: 60px;
      width: 100%;
      height: 540px;
      z-index: -200;
      background-size: cover;
      background-position: top center;
      filter: blur(15px) brightness(1.1) saturate(0.9);
      transform: scale(2);
      &-boundary {
        display: block;
        width: 100%;
        height: 600px;
        background: $off-white;
        position: absolute;
        top: 600px;
        z-index: -1;
      }
    }
    &-container {
      transition: all .5s ease-in;
      margin: 60px auto 0 auto;
      width: 100%;
      max-width: 1080px;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
      z-index: 10;
      border-radius: 5px;
      &-marginfix {
      }
    }
    @media only screen and (min-width: 1080px) {
      &-container {
        margin: 100px auto;
      }
    }
    &-hero {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      width: 100%;
      height: 33vw;
      box-sizing: border-box;
      max-height: 360px;
      &-image {
        width: 66.66%;
        z-index: 20;
        border-top-left-radius: 5px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        overflow: hidden;
      }
      &-info-container {
        width: 33.33%;
        background-color: rgba(255, 255, 255, 0.9);
        border-bottom: 1px solid $lighter-grey;
        padding: 25px 30px;
        box-sizing: border-box;
        display: flex;
        border-top-right-radius: 5px;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
      }
      &-date-lg {
        font-family: $skinny;
        text-transform: uppercase;
        font-size: 23px;
        font-weight: 100;
      }
      &-date-sm {
        font-family: $skinny;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
      }
      &-title {
        font-family: $title-font-stack;
        color: $near-black;
        font-size: 24px;
        font-weight: 500;

      }
      &-price {
        font-family: $title-font-stack;
        font-size: 14px;
        font-weight: 100;
        letter-spacing: 1.3px;
      }
    }
    &-CTA {
      &-container {
        width: 100%;
        height: calc(70px-15vw);
        background: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        box-sizing: border-box;
        border-bottom: 1px solid $lighter-grey;
      }
      &-button {
        height: 44px;
        width: 30%;
        margin-right: 15px;
        background: $peppy-blue;
        background-image: $pornj-gradient;
        border-radius: 22px;
        @include event-button-base {

        }
      }
      &-bookmark {
        transform: scale(.75);
        -webkit-text-stroke: 1px white;
        padding: 0 30px 0 20px;
        &-container {
          height: 100%;
        }
      }
    }
    &-body {
      &-container {
        padding: 60px 10%;
        background: white;
        display: flex;
        width: 80%;
        flex-direction: row;
        justify-content: center;
      }
      &-description {
        width: 100%;
        padding: 0 15% 0 10px;
        font-family: $body-font-stack;
        font-weight: 700;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 1.2px;
        color: $middle-grey;

      }
      &-aside {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 33.33%;
        min-width: 200px;
        padding: 0 10px;
        box-sizing: border-box;
        font-family: $skinny;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 1.2px;
        color: $middle-grey;
        &-item {
          font-size: 14px;
        }
      }
    }
  }

  &-index {
    &-search-box {
      width: 90%;
      background-image: linear-gradient(rgba(255, 255, 255, 0.87) 0%, white 25%);
      height: 150px;
      box-shadow: 0 1px 3px 0 rgba(0,0,0,.25);
      border-radius: 6px;
      z-index: 20;

      position: relative;
      top: -60px;
      display: block;
      @media only screen and (max-width :556px ) {
        opacity: 0;
        margin-top: -60px;
      }
    }
    &-grid {
      width: 96%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
      margin-bottom: 40px;
    }
    &-intro {
      padding: 20px;
      margin: -20px 20px 20px 20px;
      @include font-event-index-intro;
      @media only screen and (max-width :556px ) {
          opacity: 0;
          margin-top: -60px;
    }
  }
    &-item {
      position: relative;
      box-sizing: border-box;
      display: block;
      margin: 15px;
      transition: box-shadow 0.5s;
      &:hover {
        box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
      }
      &-header {
        width: 100%;
        padding-top: 50%;
        object-fit: cover;
        overflow: hidden;
        text-align: center;
        background: $pornj-gradient;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer;
      }
      &-price {
        position: absolute;
        top: 10px;
        right: 10px;
        background: white;
        opacity: 0.92;
        padding: 3px 10px 5px 10px;
        box-shadow: 0 0 1px 0 rgba(0,0,0,.15);
        @include font-event-index-item-price
      }
      &-body {
        height: 96px;
        background-color: white;
        padding: 0px 15px;
        box-sizing: border-box;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: space-between;
      }
      &-date {
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
        font-weight: 100;
        color: $darker-grey;
        font-family: $title-font-stack;
        font-size: 12px;
        line-height: 18px;
        height: 18px;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        margin-top: 10px;
      }
      &-title {
        margin: 0 auto;
        -webkit-line-clamp: 2;
        font-family: $title-font-stack;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $near-black;
        font-size: 16px;
        max-height: 38px;
        font-weight: 500;
        height: 38px;
        margin-top: 3px;
      }
      &-venue {
        font-weight: 400;
        text-overflow: ellipsis;
        overflow: hidden;
        font-family: $skinny;
        color: $middle-grey;
        font-size: 12px;
        line-height: 18px;
        height: 18px;
        margin-top: 3px;
      }
      &-footer {
        background-color: white;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 42px;
        border-top: 1px solid rgb(239, 242, 245);
      }
      &-categories {
        font-size: 12px;
        padding: 0 0 0 15px;
      }
      &-bookmark {
        padding: 12px 11px 11px 20px;
        transform: scale(.75);
        box-sizing: border-box;
        border-top: 1px solid rgb(239, 242, 245);
        border-left: 1px solid rgb(239, 242, 245);
        border-bottom: 1px solid rgb(239, 242, 245);
        -webkit-text-stroke: 1px white;
      }
    }
  }
}

/*refactor out the below*/

.label-primary{
  @include font-label;
  font-weight: 700;
  font-size: 13px;
}
.font{
  &-header {
    &-search-box {
      @include font-header-search-box
    }
  }
  &-event-index {
    &-intro{
      @include font-event-index-intro
    }
  }
}


.ui-text {
  font-family: "Benton Sans",-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 25px;
  line-height: 30px;
  font-weight: 200;
}


.event-image-upload-button {
  display: none;
}
