// Place all the styles related to the api/events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home{
  &-hero-image {
    display: block;
    margin-top: 60px;
    width: 100%;
    height: 30vw;
    transition: height .05s;
    max-height: 350px;
    padding: 40px;
    background-image: url("https://s3.amazonaws.com/sideshow-development/concert.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 10;
  }
  &-content {
    width: 100%;
    max-width: 1079px;
    box-sizing: border-box;
    margin: -140px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.event {
  &-show {
    &-background {
      position: absolute;
      top: 60px;
      width: 100%;
      z-index: 100;
      background-color: grey;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
    &-container {
      margin: 0px auto;
      width: 100%;
      max-width: 1080px;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    }
    @media only screen and (min-width: 1080px) {
      &-container {
        margin-top: 40px;
      }
    }
    &-hero {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      width: 100%;
      height: 33vw;
      max-height: 360px;
      &-image {
        width: 66.66%;
        z-index: 20;
        border-radius: 5px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        overflow: hidden;
      }
      &-info-container {
        width: 33.33%;
        background-color: rgba(255, 255, 255, 0.9);
        border: 1px green;
      }
      &-date {

      }
      &-title {

      }
      &-price {

      }
    }
    &-CTA {
      &-container {
        width: 100%;
        height: 70px;
        background: white;
        display: flex;
        align-items: space-between;
        padding: 10px 0;
        box-sizing: border-box;
        border: 1px solid rgb(210, 214, 223);
      }
      &-button {
        width: 330px;
        height: 44px;
        text-align: center;
        border-radius: 3px;
        border-radius: 1px solid white;
        background: #0093D7;
        color: white;
        font-size: 14px;
      }
    }
    &-body {
      &-container {
        padding: 50px 10%;
        background: white;
        display: flex;
        flex-direction: row;
      }
      &-description {
        width: 66.66%;
        padding: 0 15% 0 10px;

      }
      &-aside {
        width: 33.3%;
        padding: 0 10px;
        box-sizing: border-box;
        background: pink;
      }
    }
  }

  &-index {
    &-search-box {
      width: 90%;
      background-image: linear-gradient(rgba(255, 255, 255, 0.87) 0%, white 25%);
      height: 180px;
      box-shadow: 0 1px 3px 0 rgba(0,0,0,.25);
      border-radius: 6px;
      z-index: 20;
    }
    @media only screen and (max-width :550px ) {
      &-search-box {
        opacity: 0;
        margin-top: -60px;
      }
    }
    &-grid {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    }
    &-intro {
      margin-top: 20px;
      padding: 15px
    }
    &-item {
      position: relative;
      box-sizing: border-box;
      display: block;
      padding: 15px;
      &-header {
        width: 100%;
        padding-top: 50%;
        object-fit: cover;
        overflow: hidden;
        text-align: center;
        background: -webkit-linear-gradient(#F86820, #fd348b);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer;
      }
      &-price {
        position: absolute;
        top: 10px;
        right: 10px;
        font-weight: 200;
        color: #282C35;
        background: white;
        opacity: 0.92;
        padding: 2px 10px;
        font-family: sans-serif;
        font-size: 12px;
      }
      &-body {
        height: 96px;
        background-color: white;
        padding: 5px 15px;
        box-sizing: border-box;
        cursor: pointer;
      }
      &-date {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: block;
        font-weight: 400;
        color: #45494E;
        font-size: 12px;
        line-height: 18px;
        height: 18px;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 5px 0 0;
      }
      &-title {
        margin: 0 auto;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #282C35;
        font-size: 15px;
        line-height: 19px;
        max-height: 38px;
        font-weight: 600;
        letter-spacing: 0;
        padding: 0;
        height: 38px;
      }
      &-venue {
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: #666A73;
        font-size: 12px;
        line-height: 18px;
        height: 18px;
        padding: 5px 0 0
      }
      &-footer {
        background-color: white;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 42px;
        border-top: 1px solid rgb(239, 242, 245);
      }
      &-categories {
        font-size: 12px;
        padding: 0 0 0 20px;
      }
      &-bookmark {
        padding: 0 10px;
        border-left: 1px solid rgb(239, 242, 245);
        -webkit-text-stroke: 1px white;
      }
    }
  }
}



.text{
  &-header {
    &-search-box {
      color: #F86820;
      text-align: center;
      margin: 40px;
      font-family: "Lato", sans-serif;
      font-size: calc(16px + 2.5vw);
      font-weight: 100;
      line-height: 60px;
      text-rendering: optimizeLegibility;
      display: block;
      background: -webkit-linear-gradient(#F86820, #fd348b);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &-event-index {
    &-intro{
      font-size: 25px;
      line-height: 30px;
      font-weight: 200;
      padding: 10px 15px;
      display: flex;
      margin: 20px 0 0 0;
    }
  }
}


.ui-text {
  font-family: "Benton Sans",-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 25px;
  line-height: 30px;
  font-weight: 200;
}
