// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session-form-container {
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0px auto;
  position: relative;
  top: 100px;
}

.login-errors {
  color: red;
  font-size: 12px;
  margin: 0px;
  font-family: Roboto Helvetica sans-serif;
}

.login-icon-container {
  background: orange;
  width:72px;
  height:72px;
  background-color: #F6682F;
  border-radius: 72px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-icon {
  color: white;
  margin: 0px auto;
}

.user-prompt-medium {
  font-family: "Benton Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #666a73;
  font-weight: 200;
  text-align: center;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  margin-top: 8px;
  margin-bottom: 6px;
  font-size: 30px;
  line-height: 31.45px;
}

.user-prompt-small {
  color: #666a73;
  font-weight: 200;
  text-align: center;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 20px;
  line-height: 1.3;
  letter-spacing: -.1px;
}

.session-action-button {
  font-family: "Benton Sans","Helvetica Neue",Helvetica,"Roboto",Arial,sans-serif;
  display: flex;
  justify-content: center;
  font-weight: 400;
  width: 100%;
  border-radius: 40px;
  padding: 1px 31px 31px;
  background-color: #F6682F;
  color: white;
  padding: 12px;
  margin: 0px auto;
}

.Modal {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 10px;
  background-color: white;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: radial-gradient(farthest-corner at 80% 100%,#fd348b 0,#f86044 100%);
}

.close-modal {
background-color: rgba(248,248,250,.7);
color: gray;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
height: 26px;
width: 26px;
font-size: 20px;
padding: 5px;
line-height: 1;
cursor: pointer;
position: absolute;
top: 20px;
right: 20px;
z-index: 1;
}

.session-action-button:hover {
  background-image: radial-gradient(farthest-corner at 80% 100%,#fd348b 0,#f86044 100%);
}

.demo-login {
  background-image: radial-gradient(farthest-corner at 80% 100%,#fd348b 0,#f86044 100%);
}

.session-form-label {
  color: #a3a5ab;
  font-weight: 200;
  font-family: "Roboto",Arial,sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.session-form-input-box {
  background-color: rgb(195, 198, 207);
  border: 2px;
  box-sizing: border-box;
  color: rgb(69, 73, 78);
  display: block;
  font-size: 16.8px;
  font-weight:400;
  height:43px;
  letter-spacing:normal;
  line-height:22px;
  margin-bottom:0px;
  margin-left:0px;
  margin-right:0px;
  margin-top:0px;
  outline-color:rgb(69, 73, 78);
  outline-style:none;
  outline-width:0px;
  padding-bottom:1px;
  padding-left:1px;
  padding-right:1px;
  padding-top:1px;
  position:relative;
  text-size-adjust:100%;
  width:360;
  -webkit-box-direction:normal;
  -webkit-font-smoothing:antialiased;
}

.session-form-input {
  background-color: rgb(255, 255, 255);
  border-bottom-color:rgb(69, 73, 78);
  border-bottom-left-radius:2px;
  border-bottom-right-radius:2px;
  border-bottom-style: none ;
  border-bottom-width:0px;
  border-image-outset:0px;
  border-image-repeat:stretch;
  border-image-slice:100%;
  border-image-source:none;
  border-image-width:1;
  border-left-color:rgb(69, 73, 78);
  border-left-style:none;
  border-left-width:0px;
  border-right-color:rgb(69, 73, 78);
  border-right-style:none;
  border-right-width:0px;
  border-top-color:rgb(69, 73, 78);
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  border-top-style:none;
  border-top-width:0px;
  box-sizing:border-box;
  color: #666a73;
  display:block;
  font-family:"Benton Sans", -apple-system, system-ui, Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
  font-size:16.8px;
  font-stretch:100%;
  font-style:normal;
  font-variant-caps:normal;
  font-variant-east-asian:normal;
  font-variant-ligatures:normal;
  font-variant-numeric:normal;
  font-weight:400;
  height:41px;
  letter-spacing:normal;
  line-height:normal;
  outline-color:rgb(69, 73, 78);
  outline-style:none;
  overflow-x:hidden;
  overflow-y:hidden;
  padding-bottom:9px;
  padding-left:16px;
  padding-right:12px;
  padding-top:8px;
  text-indent:0px;
  text-size-adjust:100%;
  text-transform:none;
  white-space:nowrap;
  width:310px;
  word-spacing:1px;
  writing-mode:horizontal-tb;
  -webkit-appearance:none;
  -webkit-box-direction:normal;
  -webkit-font-smoothing:antialiased;
  -webkit-rtl-ordering:logical;
  -webkit-border-image:none;
}

.email-field {
  display: flex;
  align-items: space-between;
}

.edit-icon {
  align-items:flex-end;
  padding-left: 7px
}
