// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'fonts';
.session {
  &-form-container {
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px auto;
    position: relative;
    top: 70px;
  }
}

.signin-form {

}

.login {
  &-modal {
    &-CTA {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
    }
  }
  &-icon {
    color: white;
    transform: scale(.75);
    margin: 0px auto;
    &-container {
      background: $pornj-gradient;
      width:60px;
      height:60px;
      background-color: #F6682F;
      border-radius: 60px;
      margin: 0px auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.user-prompt {
  &-medium {
    font-family: $skinny-font-stack;
    color: $middle-grey;
    font-weight: 200;
    text-align: center;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    margin-top: 8px;
    margin-bottom: 6px;
    font-size: 30px;
    line-height: 31.45px;
  }
  &-small {
    color: $middle-grey;
    font-family: $skinny-font-stack;
    font-weight: 200;
    text-align: center;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 20px;
    line-height: 1.3;
    letter-spacing: -.1px;
  }
}

.session-action-button {
  font-family: "Benton Sans","Helvetica Neue",Helvetica,"Roboto",Arial,sans-serif;
  display: flex;
  justify-content: center;
  font-weight: 400;
  width: 100%;
  border-radius: 40px;
  padding: 1px 31px 31px;
  background-color: #F6682F;
  background: $pornj-gradient;
  color: white;
  padding: 12px;
  margin: 10px auto;
  &-disabled {
    background-color: $lightest-grey;
  }
}

.Modal {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 15px;
  background-color: white;
  outline: 0;
}

.Overlay {
  z-index: 50000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: radial-gradient(farthest-corner at 80% 100%,#fd348b 0,#f86044 100%);
}

.close-modal {
background-color: rgba(248,248,250,.7);
color: gray;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
height: 26px;
width: 26px;
font-size: 20px;
padding: 5px;
line-height: 1;
cursor: pointer;
position: absolute;
top: 20px;
right: 20px;
z-index: 1;
}

.demo-login {
  background-image: $pornj-gradient;
}



.form {
  &-errors {
    color: red;
    font-size: 12px;
    margin: 0px;
    font-family: Roboto Helvetica sans-serif;
  }
  &-input-box {
    box-sizing: border-box;
    display: block;
    font-size: 16.8px;
    font-weight:400;
    height:43px;
    letter-spacing:normal;
    line-height:22px;
    outline: 0;
    padding: 1px;
    position:relative;
    width:360;
  }
  &-label {
    color: #a3a5ab;
    font-weight: 200;
    font-family: $skinny-font-stack;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
  }
  &-error {

  }
  &-input {
    background-color: white;
    border: 1px solid $lighter-grey;
    box-sizing:border-box;
    color: $darker-grey;
    display:block;
    font-family: $body-font-stack;
    font-size:16.8px;
    font-weight:400;
    height:41px;
    padding-bottom:9px;
    padding-left:16px;
    padding-right:12px;
    padding-top:8px;
    width:310px;
    outline: 0;
    letter-spacing: .7px;
    -webkit-font-smoothing:antialiased;
    &:focus {
      border: 1px solid $mint-green;
    }
  }
}

.email-field {
  display: flex;
  align-items: space-between;
}

.edit-icon {
  align-items:flex-end;
  padding-left: 7px
}

.error {
  background: red;
}
