// Place all the styles related to the api/tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'colors';
@import 'modal';
@import 'fonts';
@import 'forms';

.tickets {
  &-modal {
    &-overlay {
      position: fixed;
      top: 0;
      background: rgba(0,0,0, 0.75);
      z-index: 1000;
      height: 100vh;
      width: 100vw;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    &-container {
      position: absolute;
      top: 150px;
      height: 300px;
      width: 600px;
      border: 2px solid $pornj-gradient;
      border-radius: 5px;
      background: $off-white;
      z-index: 6000;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
    &-close {
      @include modal-close-button();
      top: 15px;
      right: 15px;
    }
    &-header {
      height: 60px;
      width: 100%;
      background: $off-white;
      display: flex;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      flex-direction: row;
      justify-content: center;
      border-bottom: 1px solid $lightest-grey;
      &-content {
        @include font-header-search-box;
        margin: 0;
        font-size: 30px;
      }
    }
    &-footer {
      height: 60px;
      width: 100%;
      background: white;
      display: flex;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      flex-direction: row;
      justify-content: space-between;
      border-top: 1px solid $lightest-grey;
    }
    &-checkout-button {
      background: pink;
      padding: 10px 30px;
    }
    &-labels {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;;
    }
    &-labels span {
      @include font-label;
      padding: 20px;
    }
    &-box {
      height: 100px;
      width: 570px;
      box-sizing: border-box;
      background: white;
      margin: 15px 15px 40px 15px;
      border: 1px solid $lighter-grey;
      border-radius: 3px;
      border-left: 8px solid $eventbrite;
      padding: 15px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

  }
}
