// Place all the styles related to the api/tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'colors';
@import 'modal';
@import 'fonts';
@import 'forms';

.row-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 5px 0px;
  display: flex;
  align-items: baseline;

}
.tickets {
  &-modal {
    &-text {
      &-formhead {
          @text-transform: capitalize;
          font-family: $skinny;
          font-size: 24px;
          padding: 0;
          font-weight: 700;
          color: $near-black;
      }
      &-ticket {
        &-container {
          display: flex;
          flex-direction: column;
          align-items: space-between
        }
        &-type {
          @include font-event-index-intro;
          padding: 0;
          display: block;
        }
        &-price {
          @include font-event-index-subhead;
          padding: 0;
          display: block;
          color: $middle-grey;
        }
        &-fee {
          @include font-event-index-subhead;
          padding: 0;
          display: block;
          color: $middle-grey;
          font-weight: 200;
          font-size: calc(10px + .5vw)
        }
      }
    }
    &-form {
      &-input {
        &-container{
          display: flex;
          align-items: baseline;
        }
        &-select {
          font-size: 16px;
          box-sizing: border-box;
          border: 1px solid $business-grey;
          border-radius: 5px;
          height: 42px;
          width: 78px;
          list-style: disc;
          background: white;
          color: black;
          font: $skinny;
          font-weight: 100;
        }
      }
    }
    &-overlay {
      position: fixed;
      top: 0;
      background-color: rgba(40,44,53,.8);
      z-index: 1000;
      height: 100vh;
      width: 100vw;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    &-container {
      position: absolute;
      top: 150px;
      height: 300px;
      width: 600px;
      border: 2px solid $pornj-gradient;
      border-radius: 5px;
      background: $off-white;
      z-index: 6000;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
    &-close {
      @include modal-close-button();
      top: 15px;
      right: 15px;
      font-weight: 100
    }
    &-header {
      height: 60px;
      width: 100%;
      background: $lightest-grey;
      display: flex;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid $lighter-grey;
      border-left
      &-content {
        @include font-event-index-intro;
        margin: 0;
        font-size: 40px;
        font-weight: 700;
        font-family: $title-font-stack;

      }
    }
    &-footer {
      height: 60px;
      width: 100%;
      background: white;
      display: flex;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      flex-direction: row;
      justify-content: space-between;
      border-top: 1px solid $lightest-grey;
    }
    &-checkout-button {
      background: pink;
      padding: 10px 30px;
    }
    &-labels {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;;
    }
    &-labels span {
      @include font-label;
      padding: 20px;
    }
    &-box {
      height: 100px;
      width: 570px;
      box-sizing: border-box;
      background: white;
      margin: 15px 15px 40px 15px;
      border: 1px solid $lighter-grey;
      border-radius: 3px;
      border-left: 15px solid #0093D7;
      padding: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

  }
}
