// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'fonts';
@import 'colors';
@import 'forms';

.user {
  &-dashboard {
    &-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      background-color: white;
      &-container {
        width: 100vw;
        background: red;
        padding: 10px;
        background: $off-white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
      }
    }
    &-ticket {
      &-container {
        background: white;
        margin: 15px;
        width: 90vw;
        max-width: 700px;
        box-shadow: 1px 1px 0 0 rgba(0,0,0,.1);
        padding: 10px;
        height: 115px;
        box-sizing: border-box;
        border-radius: 3px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
      }
      &-image {
        width: 200px;
        height: 100px;
        object-fit: cover;
        overflow: hidden;
        background: $pornj-gradient;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
      }
      &-text {
        &-container {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: space-between;
          padding: 0 20px;
        }
        &-date {
          font-weight: 100;
          color: $middle-grey;
          font-family: $title-font-stack;
          font-size: 11px;
          line-height: 18px;
          height: 18px;
          text-transform: uppercase;
          letter-spacing: 1.2px;

        }
        &-title {
          -webkit-line-clamp: 1;
          font-family: $title-font-stack;
          overflow: hidden;
          text-overflow: ellipsis;
          color: $near-black;
          font-size: 15px;
          max-height: 38px;
          font-weight: 500;
          height: 38px;
          margin-top: 3px;
          margin: 0;
        }
        &-price {
          background: white;
          opacity: 0.92;
          @include font-event-index-item-price;
          margin-top: 10px;
        }
      }
      &-action {
        background: white;
        height: 100px;
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        &-button {
          white-space: nowrap;
          overflow: hidden;
          width: 120px;
          @include event-button-base();
          background: white;
          border: 3px solid $lighter-grey;
          color: $lighter-grey;
          padding: 5px;
          border-radius: 3px;
          font-size: 10px
        }
      }
      &-row {
        display: flex;
        flex-direction: row;
        align-items: space-between;
      }
    }
    &-container {
      margin: 60px 0;
      width: 100vw;
      background: white;
    }
    &-header {
      width: 100%;
      height: 119px;
      color: $near-black;
      font-family: $title-font-stack;
      font-size: 35px;
      font-weight: 600;
      background: white;
    }
    &-links {
      display: flex;
      justify-content: space-around;
      width: 100vw;
      border-bottom:1px solid $lighter-grey;
      &-container {
        width: 100%;
        max-width: 800px;
        display: flex;
        justify-content: center;
      }
    }
    &-link {
      @include font-nav-link;
      font-size: 12px;
      padding: 10px 65px ;

      &-selected {
        color: $eventbrite;
        border-bottom: 3px solid $peppy-blue;
      }
      &-items {
        &-container {
          width: 80%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
    }
    &-ownevents {
      &-item {
        &-container {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          border: 1px solid $lighter-grey;
          border-radius: 3px;
          margin: 20px;
          width: 90vw;
          max-width: 700px;
          background: white;
          padding: 10px;
          border-radius: 3px;
        }
        &-title {
          @include font-event-index-intro;
          padding: 0 0 5px 0;
          font-size: 20px;
        }
        &-date {
          @include font-label;
          font-size: 11px;
          padding-bottom: 6px
        }
        &-actions {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;;
          align-items: center;
        }
        &-actions > * {
          font-family: $skinny;
          font-weight: 300;
          font-size: 12px;
          padding-right: 20px;
          letter-spacing: 1.5px;
          background: white;
          color: $near-black;
          transition: color 0.5s;
          box-sizing: boorder-box;
          &:hover {
            color: $eventbrite;
          }
          & i {
            padding-right: 3px;
            color: $eventbrite;
          }
        }
      }
    }
  }
}
