@import 'api/fonts';
@import 'api/colors';

.nav {
  &-container {
    position: relative;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    width: 100%;
    height: 60px;
    line-height: 1.2em;
    border-bottom: 1px solid #F5F5F5;
    background-color: white;
    z-index: 20;
  }
  &-left {
  }
  &-right {
    display: flex;
    flex-direction: row;
  }
  &-link {
    display: flex;
    display: block;
    border-left: 1px solid #EFF2F5;
    height: 40px;
    padding: 20px 20px 0 20px;
    @include font-nav-link();
    background-color: white;
    transition: background-color 0.4s ease-out;
    font-size: 13px;
    &:hover {
      background: $lightest-grey;
    }
    &-user {
      display: flex;
      display: block;
      border-left: 1px solid #EFF2F5;
      height: 40px;
      padding: 20px 20px 0 20px;
      @include font-nav-link();
      background-color: white;
      font-size: 13px;
    }
  }
}

.meta-container {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100vh;
}


body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100vh;
}
.avatar-icon {
  padding-right: 5px;
}

.font{
  &-nav {
    &-logo {
      @include font-nav-logo;
      font-size: 30px;
    }
    &-link {
      &-emphasis {
        @include font-nav-link-emphasis();
        font-size: 14px;
        &:hover {
          color: $link-hover;
        }
      }
    }

  }
}

.footer{

  &-container {
    background-color: rgb(40, 44, 53);
    border-top: 4px solid rgb(102, 106, 115);
    display: flex;
    z-index: 100;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;


  }
  &-icon {
    color: #d8d8d8;
    padding: 20px 20px;
  }
}
