@import 'api/fonts';
@import 'api/colors';

.nav {
  &-container {
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    margin: 0 auto;
    width: 100%;
    height: 60px;
    line-height: 1.2em;
    border-bottom: 1px solid #F5F5F5;
    background-color: white;
    z-index: 20;
  }
  &-left {
  }
  &-right {
    display: flex;
    flex-direction: row;
  }
  &-link {
    background: white;
    display: flex;
    display: block;
    border-left: 1px solid #EFF2F5;
    height: 40px;
    padding: 20px 20px 0 20px;
    @include font-nav-link();
  }
}

.avatar-icon {
  padding-right: 5px;
}

.font{
  &-nav {
    &-logo {
      @include font-nav-logo
    }
    &-link {
      &-emphasis {
        @include font-nav-link-emphasis();
        &:hover {
          color: $link-hover;
        }
      }
    }

  }
}

.footer{
  &-container {
    transform: translateY(100%);
    display: block;
    background-color: rgb(40, 44, 53);
    border-top: 4px solid rgb(102, 106, 115);
    display: block;
  }
  &-icon {
    color: #d8d8d8;
    padding: 20px 20px;
  }
}
